In [18]:
import pandas as pd
import numpy as np

bert = pd.read_csv("./output/Bert_submission_cv0694797761.csv",header=None)
roberta = pd.read_csv("./output/Roberta_submission_cv0704686192.csv",header=None)
deberta = pd.read_csv("./output/Deberta_submission_cv0723507720.csv",header=None)

column = pd.read_csv("./output/Exp001-roberta-base-epoch10/preds/submission_pp.csv",header=None)


bert["bert"] = bert[1]
bert["roberta"] = roberta[1]
bert["deberta"] = deberta[1]
bert["roberta_2"] = column[1]

ens = bert[["bert","roberta","deberta","roberta_2"]]

preds_data = pd.DataFrame(np.zeros((len(bert), 4)))
each_preds = pd.DataFrame(ens)

preds_data.iloc[:, 0] = (each_preds == 1).sum(axis=1)
preds_data.iloc[:, 1] = (each_preds == 2).sum(axis=1)
preds_data.iloc[:, 2] = (each_preds == 3).sum(axis=1)
preds_data.iloc[:, 3] = (each_preds == 4).sum(axis=1)

pred = np.argmax(np.array(preds_data), axis=1)
bert["ens"] = pred + 1

bert[[0,"ens"]].to_csv("./output/Emsamble.csv",index=None,header=None)
bert[[0,"ens"]]

         0  ens
0     1516    1
1     1517    4
2     1518    3
3     1519    4
4     1520    3
...    ...  ...
1512  3028    3
1513  3029    1
1514  3030    3
1515  3031    4
1516  3032    1

[1517 rows x 2 columns]

In [20]:
import pandas as pd
import numpy as np

bert = pd.read_csv("./output/Bert_submission_cv0694797761.csv",header=None)
roberta = pd.read_csv("./output/Roberta_submission_cv0704686192.csv",header=None)
deberta = pd.read_csv("./output/Deberta_submission_cv0723507720.csv",header=None)

column = pd.read_csv("./output/Exp001-roberta-base-epoch10/preds/submission_pp.csv",header=None)


bert["bert"] = bert[1]
bert["roberta"] = roberta[1]
bert["deberta"] = deberta[1]
bert["roberta_2"] = column[1]

ens = bert[["bert","roberta","deberta","roberta_2"]].T

mode = ens.mode().T

bert["voting"] = mode[0].astype(int)

bert[[0,"voting"]].to_csv("./output/Emsamble.csv",index=None,header=None)
bert[[0,"voting"]]

         0  voting
0     1516       1
1     1517       4
2     1518       3
3     1519       4
4     1520       3
...    ...     ...
1512  3028       3
1513  3029       1
1514  3030       3
1515  3031       4
1516  3032       1

[1517 rows x 2 columns]

In [4]:
print("合計数",len(bert))
print()
same = bert[(bert["bert"]==bert["roberta"]) & (bert["bert"]==bert["deberta"])]
print("予測一致",len(same))
ro_de = bert[(bert["deberta"]==bert["roberta"])]
print("Bert以外",len(ro_de))
bara = bert[(bert["bert"]!=bert["roberta"]) & (bert["bert"]!=bert["deberta"])& (bert["roberta"]!=bert["deberta"])]
print("バラバラ",len(bara))

合計数 1517

予測一致 1267
Bert以外 1343
バラバラ 16

In [7]:
first_preds_max.head(50)

    0  1  2  3
0   4  0  0  0
1   0  0  0  4
2   0  0  4  0
3   0  0  0  4
4   0  0  4  0
5   4  0  0  0
6   0  4  0  0
7   0  0  4  0
8   4  0  0  0
9   2  0  2  0
10  0  0  0  4
11  0  4  0  0
12  1  0  0  3
13  0  0  0  4
14  0  0  0  4
15  2  0  0  2
16  4  0  0  0
17  0  0  0  4
18  0  0  0  4
19  0  0  4  0
20  0  0  4  0
21  1  0  0  3
22  0  0  0  4
23  4  0  0  0
24  1  3  0  0
25  2  0  0  2
26  0  0  0  4
27  2  2  0  0
28  0  0  4  0
29  4  0  0  0
30  4  0  0  0
31  0  0  4  0
32  1  0  0  3
33  0  0  4  0
34  0  0  4  0
35  0  0  0  4
36  0  0  0  4
37  0  0  4  0
38  4  0  0  0
39  4  0  0  0
40  0  0  4  0
41  0  0  0  4
42  0  0  4  0
43  0  0  4  0
44  0  0  0  4
45  0  0  4  0
46  0  0  0  4
47  3  1  0  0
48  0  0  4  0
49  0  0  4  0